* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;
  color: #4c4e61;
}

h2 {
  margin-bottom: 1.3rem;
}

p {
  color: #a3a5ae;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  font-size: 1.3rem;
  text-align: center;
      justify-self: center;
}

@media (min-device-width: 1500px) {
  .header {
    font-size: 1.6rem;
    margin: 2.5rem;
  }
}

.header div {
  margin-top: 1.5rem;
}

.header span {
  font-weight: lighter;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 2rem 4rem 2rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header header" ". teambldr ." " spvisor teambldr calc" "spvisor karma calc" ". karma .";
  gap: 3rem;
}

.item {
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px -5px;
          box-shadow: 0 5px 20px -5px;
  width: 45vh;
  height: 30vh;
  background-color: white;
  padding: 2rem;
  position: relative;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.item img {
  width: 16%;
  position: absolute;
  left: 32vh;
  top: 18vh;
}

.item:hover {
  -webkit-transform: translateY(2%);
          transform: translateY(2%);
}

.text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: left;
}

@media (min-device-width: 1500px) {
  .text {
    font-size: 1.6rem;
    margin: 2.5rem;
  }
}

.supervisor {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: spvisor;
  border-top: 0.4rem solid #45d3d3;
}

.teambuilder {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: teambldr;
  border-top: 0.4rem solid #ea5353;
}

.karma {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: karma;
  border-top: 0.4rem solid #fcaf4a;
}

.calculator {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: calc;
  border-top: 0.4rem solid #549ef2;
}

.attribution {
  grid-area: footer;
  font-size: 1.3rem;
  position: absolute;
  bottom: 1vh;
  right: 10vh;
  margin: auto;
}

.attribution a {
  color: #45d3d3;
}

.attribution a:hover {
  color: #fcaf4a;
}

@media (max-device-width: 480px) {
  body {
    overflow-y: scroll;
  }
  .header br {
    display: none;
  }
  .header h1 {
    font-size: 2.1rem;
  }
  p {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .supervisor {
    grid-area: supervisor;
  }
  .teambuilder {
    grid-area: teambuilder;
  }
  .karma {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: karma;
  }
  .calculator {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: calc;
  }
  .attribution {
    display: none;
  }
}

@media (min-device-width: 480px) and (max-device-width: 769px) {
  body {
    overflow-y: scroll;
  }
  .header-text {
    font-size: 1.5rem;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text {
    font-size: 1.5rem;
    margin: 2rem;
  }
  .attribution {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */